@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family:BYekan;
    src: url('../font/BYekan.ttf');
}




*{
    font-family: BYekan;
    /* font-family: sans-serif; */
}